/* css header */
.container {
    width: 1440px;
    height: 56px;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* phone part */
.phone { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: auto;
}

.img1 {
    position: absolute;
    width: 17.97px;
    height: 18px;
    top: 19px;
    left: 80.97px;
}

.p1 {
    position: absolute;
    width: 100px;
    height: 23px;
    top: 16px;
    left: 113px;
}