@font-face {
  font-family: Hind Siliguri;
  src: url(font/Hind_Siliguri/HindSiliguri-Regular.ttf);
}

@font-face {
  font-family: Hind Siliguri-bold;
  src: url(font/Hind_Siliguri/HindSiliguri-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* Remove the underline of the link */
}

body {
  max-width: 1440px;
}

/* css header */
.container {
  width: 1440px;
  height: 56px;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  /* order: top-right-bottom-left */
}

header.container {
  align-items: center;
}

/* css header items */
.info {
  display: flex;
  font-family: Hind Siliguri;
  font-size: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22.64px;
  text-align: center;
}

.header-main {
  font-family: Hind Siliguri-bold;
  font-weight: 600;
  font-size: 18px;
  line-height: 29.11px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.text {
  padding-right: 50px;
}

.img {
  padding-right: 15px;
}
/* end of the css header items */

/* start of the css second header items */
.nav {
  position: absolute;
  display: flex;
  width: 1440px;
  height: 109px;
  left: 0px;
  top: 56px;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  align-content: center;
  padding: 20px 80px 0px 80px;
}

.nav-bar1 {
  font-family: Hind Siliguri;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 49px;
}

.nav-bar2 {
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nav-bar2.horizontal-list {
  margin-right: 100px;
}

.link {
  display: block;
  margin-right: 40px;
}


.horizontal-list {
  list-style: none;
  display: flex;
}

.horizontal-list li {
  padding-right: 20px;
}

.nav-bar3 button {
  /* display: block; */
  margin-right: 25px;
  height: 49px;
  width: 49px;
  left: 1021px;
  top: 86px;
  border-radius: 5px;

}
.button {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.button2 {
  background-color: #9E3040;
  font-family: Hind Siliguri;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
}

.nav-bar3 .button2 {
  height: 49px;
  width: 126px;
  left: 1234px;
  top: 86px;
  border-radius: 5px;
}
/* end of the second header */